/examples
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
composer.lock
app/Http/Controllers/Back/ConfiguracionController.php
resources/views/back/discipulado/moderador/index.blade.php
