@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";


.h1-uc, .input-uc::-webkit-input-placeholder, button {
 font-family: 'roboto', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

.h1-uc {
  height: 100px;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.form-uc {
  box-sizing: border-box;
  /*width: 260px;*/
  /*margin: 150px auto 0;*/
  /*box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);*/
  /*padding-bottom: 40px;*/
  border-radius: 3px;
}

.form-uc .h1--uc {
  box-sizing: border-box;
  padding: 20px;
}

.input-uc {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
.input-uc:focus, .input-uc:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
}
.input-uc:focus::-webkit-input-placeholder, .input-uc:valid::-webkit-input-placeholder {
 color: #1abc9c;
 font-size: 11px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}

.btn-submit-uc {
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn-submit-uc:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.custom-alert {
  position: inherit; 
  top: 0; 
  left: 0; 
  width: 50%; 
  height: 10%; 
  z-index: 10; 
  margin: auto; 
  display: block; 
  position: initial;
}

.shadow-header{
  -webkit-box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.table{
  white-space: nowrap;
}

.inner-scroll{
  display: block;
  white-space: nowrap;
  overflow-x:scroll !important; 
  overflow-y: scroll !important; 

}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 4px;  
    background-color: #ffffff; 
}
